@charset "utf-8";
/* CSS Document */

.login_form{
    width:100%;
    color:black;
    font-size:40px;
    margin-top:80px;
    text-align:center;
}
.login_form table{
    width:50%;
	text-align:center;
}
.login_form td{

    width:30%;
	
}
.login_form input{
    width:50%;
    border:cadetblue 2px solid;
	height:40px;

}
.login_form button{
    width:50%;
    background-color:cadetblue;
    color:white;
	height:40px;

}