.login_form{
    width:100%;
    color:black;
    font-size:20px;
    margin-top:80px;
    text-align:center;
}
.login_form table{
    width:100%;
}
.login_form td{
	
    width:100%;
}
.login_form input{
	height: 25px;
    width:70%;
    border:cadetblue 2px solid;
}
.login_form button{
    width:70%;
    background-color:cadetblue;
    color:white;
}