@charset "utf-8";
/* CSS Document */

.footer{
	background:#45B39E;
	padding: 50px 0;
	position:relative;
}
.footer:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #45B39E;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:-20px;
	margin-left: -10px;
}
.footer-grid{
	float:left;
	width:23%;
	margin-right:2%;
}
.footer-grid h3{
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
.footer-grid p{
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.footer-grid ul li a{
	display:block;
	padding:10px 0px;
	border-bottom: 1px solid #5AC5B1;
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:uppercase;
}
.footer-grid ul li a:hover{
	color:#005F4D;
}
.footer-lastgrid{
	margin:0;
}
.email-link{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
.email-link:hover{
	color:#FFF;
}

.listview_1_of_2{
	display: block;
	float:left;
	margin: 0% 0 4% 0%;
}
.listview_1_of_2:first-child { margin-left: 0;} 

.images_1_of_2 {
	width: 46.96%;
	padding:1.5%; 
}
.listimg_2_of_1 {
	width: 18.2%;
}
.list_2_of_1 {
	width: 70.2%;
}
.images_1_of_2  img {
	max-width:100%;
	display:block;
	padding-top: 25px;
}
.list_2_of_1  h3{
	font-family: 'Roboto', sans-serif;
	font-size:1.6em;
	color: #626262;
	text-transform:uppercase;
	text-align: left;
}
.list_2_of_1 h3 span{
	color:#00B895;
}
.list_2_of_1  p{
	font-size:0.85em;
	color:#949191;
	line-height:1.8em;
	margin: 0px 0px 16px 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.list_2_of_1 h4{
	color:#A8A8A8;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	padding: 5px 0px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding: 0.5em 0;
	color: #012231;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	padding-bottom:5px;
	color: #012231;
	text-transform: uppercase;
}
.contact-form input[type="text"],.contact-form textarea{
		   padding: 8px;
			display: block;
			width: 98%;
			border: none;
			outline: none;
			color: #464646;
			font-size: 0.8125em;
			font-family: Arial, Helvetica, sans-serif;
			border: 1px solid rgba(85, 85, 85, 0.19);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.mybutton{
	font-family: 'Roboto', sans-serif;
	background: #012231;
	color: #d6d6d6;
	padding: 15px 40px;
	font-size: 0.875em;
	text-transform: uppercase;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	border:none;
}
.mybutton:hover{
	background: #00B895;
	color: #FFF;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#012231;
	cursor:pointer;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.company_address p span:hover{
	color:#00B895;
}
