@charset "utf-8";
/* CSS Document */

body {
    
}
header{
    top:0;
    position:fixed;
    width:100%;
    height:40px;
    background-color:aliceblue;
    border-bottom:1px solid #cef7e5;
}
header div{

    float:right;
    padding-top:10px;
    color:gray;
}
header a{
    text-decoration:none;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    color:black;
    
}
.title{
    text-align:center;
    margin-top:60px;
    height:100px;
}
.navigation{
    width:100%;
    text-align:center;
    height:40px;
    background-color:ghostwhite;
    border-top:1px solid beige;
    border-bottom:1px solid beige;
}
.navigation a{
    color:darkslategrey;
    text-decoration:none;
}
.navigation table{
    height:100%;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:80%;
    margin-left:10%;
}
.navigation td:hover{
    background-color:gainsboro;
}
.main{
    width:100%;
}
.line{
    height:4px;
    background-color:darkolivegreen;
    clear:both;
}
.main1{

    width:50%;
    border-bottom:1px solid #d1d1d1;
    background-color:antiquewhite;
    float:left;
}
.main2{

    width:50%;
    border-bottom:1px solid #d1d1d1;
    background-color:aliceblue;
    float:left;
}

.main3{

    width:50%;
    border-bottom:1px solid #d1d1d1;
    background-color:ivory;
    float:left;
}
.main4{
    width:50%;
    border-bottom:1px solid #d1d1d1;
    background-color:ivory;
    float:left;

}
.contact{
    width:100%;
    background-color:azure;
    
}
.contact table{
    width:70%;
    text-align:left;
    color:darkolivegreen;
    font-size:15px;
}

.contact a{
    color:darkolivegreen;
    text-decoration:none;
}
.bottom_link{
    width:70%;
    color:black;
}
.bottom_link a{
    color:darkolivegreen;
    text-decoration:none;
    font-size:15px;
    text-align:center;

}
.sale_list{
   vertical-align:middle;
   width:100%;
}
.sale_list table{
    padding:10px;
    width:80%;
    background-color:azure;
    border-right:1px solid gray;
    border-left:1px solid gray;
    border-collapse:collapse;
}
.sale_list img{
    width:100%;
}
.sale_list td{
    width:25%;
    border-right:1px solid gray;
    border-left:1px solid gray;
}
.price td{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    color:red;
    text-align:center;
    border-right:1px solid gray;
    border-left:1px solid gray;
    border-bottom:1px solid gray;
}
.sale_list th{
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    width:25%;
    text-align:left;
    border-right:1px solid gray;
    border-left:1px solid gray;
}